body{
background-image: url(png_20230630_174752_0000.png);
background-repeat: no-repeat;
background-attachment: fixed;
margin: 0%;
}
ul{
    list-style-type: none;
    background-color: rgb(255, 38, 0);
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0%;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

a:hover{
    background-color: rgb(67, 228, 220);
}

li{
    float: left;
    color: rgb(204, 13, 13);
}

#firstsection{
    margin-top: 4%;
    margin-left: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#S1{
    color: red;
}
#S2{
    color: red;
}

#S3{
    margin-top: 4%;
}

#H2{
    text-align: center;
}

#H3{
    text-align: center;
}

#H4{
    text-align: center;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
}
#secondsection{
    display: flexbox;
    background-color: rgb(255, 255, 255);
    height: 28%;
    width: 99%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    border-radius: 5px;
    padding: 4px;
}

#pic1{
    height: 150px;
}
#pic2{
    height: 150px;
}

#pic3{
    height: 150px;
}

#pic4{
    border-radius: 50px;
    margin-left: 32%;
}

.theowner{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    background-color: azure;
    padding: 10px;
    border-radius: 50px;
}

.cars{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    align-items: center;
        padding: 10px;
        border: 100px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
}

.cars1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    align-items: center;
        padding: 10px;
        border: 100px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
}

.cars2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    background-color: aqua;
}

.cars3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    align-items: center;
    background-color: blueviolet;
}